<input type="number" [(ngModel)]="challengeRating" placeholder="Enter challenge rating">
<button class="btn btn-primary mt-2" (click)="searchMonsters()">Search</button>

<div *ngIf="monsters">
  <ul>
    
    <li *ngFor="let monster of monsters" (click)="getMonsterDetails(monster.index)">
      <img src="https://www.dnd5eapi.co/api/images/monsters/{{monster.index}}.png" height="50" width="50">
      {{ monster.name }}
      <a href="https://www.dnd5eapi.co/api/monsters/{{monster.index}}">See json</a>
      
      
      
      
    </li>
  </ul>

  <div *ngIf="selectedMonster">
    <h2>{{ selectedMonster.name }}
      <img src="https://www.dnd5eapi.co/api/images/monsters/{{selectedMonster.index}}.png">
      {{ selectedMonster.size}}
      {{ selectedMonster.type }}
      {{ selectedMonster.alignment }}
      {{ selectedMonster.armor_class }}
      {{ selectedMonster.hit_points }}
    </h2>

    <!-- Display other monster details here -->
  </div>
  
</div>

